<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VercelFrameworkTemplater.Templater" value="RazorEngine" />
    <add key="VercelFrameworkTemplater.TemplaterRootPath" value="~/src/routes" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add verb="*" path="*.ts" type="DotNetMonoLibrary.TypeScriptHandler" />
      <add verb="*" path="*.tsx" type="DotNetMonoLibrary.TypeScriptHandler" />
      <add verb="*" path="*" type="VercelMonoFrameworkPrototypeLibrary.VercelFrameworkHandler" />
    </httpHandlers>
  </system.web>
</configuration>